<%- include('partial/header') %>
<h1>Hi ejs enabled</h1>

<h3>Math.random() <%= num =  Math.floor(Math.random()*10) %> </h3>
<%= arr= ['one','two','three','four','five'] %> 

<% for(let x in arr){ %>
        <h1> <%= x %></h1>
    <% } %>

    <h3>My Name is <%= name %></h3>
    <h3>PI is <%= pi %></h3>

    <!-- <% if(num%2==0){ %>
        <h3>Even</h3>
        <% }else { %>
            <h3>ODD</h3>
            <% } %> -->

<%- include('partial/footer') %>